body{
    background-color: #322169;
    font-family: Arial, Helvetica, sans-serif;
}
.listaMenu  {
    text-align:center;
    display: inline-block;
    font-size: 10px;
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;;
   
}
.enlace{
    color: #70fff6;
    text-decoration: none;
}
/* Buscar manera de cen5trar mejor la imagen y elegir el tamaño  */
.logo{
    width: 100%;
    
}

@media (min-width= 768px){
    .menu{
        width: 50%;
        display: inline-block;
    }
    
}

@media (min-width= 1440px){
    body{
        background-color: #322169;
        font-family: Arial, Helvetica, sans-serif;
    }
    .listaMenu  {
        font-size: 100px;
        list-style-type: none;
    }
}