
body{
    /* background-image: url(/img/fondo.jpg); */
    background-color: #322169;
    font-family: 'Lilita One', cursive;
}
.lista{
    padding: 0 0 0 0px;
    background-color: rgba(0, 0, 0, 0.82);
}
.listaMenu  {
    text-align:center;
    display: inline-block;
    list-style-type: none;
    font-family: 'Lilita One', cursive;
    margin:  0 0 0 0;
   
}
.enlace{
    color: white;
    text-decoration: none;
    font-size: 11px;
}
.logo{
    width: 100%;
}

footer{
    background-color: black;
    color: white;
    text-align: justify;
    font-family: 'Roboto', sans-serif; 
    font-size: 10px;
    }
.logoFooter{
    max-width: 60%;
    padding: 0 0 0px 20px ;
}

.textoFooterContacto{
    padding: 20px 0 0 0 ;
    font-family: 'Roboto', sans-serif; 
    
}
.listaMenu:hover{ font-weight:bold; background-color:rgb(49, 48, 48)}
@media (min-width: 768px) {
    .listaMenu {
        margin: 0 0 0 10px;
        padding: 10px;
    }
    .enlace{
        color: white;
        text-decoration: none;
        font-size: 20px;
    }

    .lista{
        padding: 0 0 0 0px;
 
       }
    .textoFooterRedes{
        font-size: 15px;
    }

}

@media (min-width: 1024px) {
    .listaMenu {
        margin: 0 0 0 30px;
        font-size: 30px;
        padding: 15px;
    }
    .textoFooterRedes{
        font-size: 25px;
    }
    footer{
        font-size: 20px;
    }

    .logo{
        width: 100%  ;
    }
}
