body{
    background-color: #B5B2B2;
    font-family: Lucida Sans;
}
.listaMenu  {
    margin: 0 0 0 50px;
    font-size: 15px;
    list-style-type: none;
}
.enlace{
    color: #000000;
    text-decoration: none;
}
/* Buscar manera de cen5trar mejor la imagen y elegir el tamaño  */
.logo{
    width: 100%;
}
.menu{
    
    display: inline-block;
}

@media (min-width= 768px){
    .menu{
        width: 50%;
        display: inline-block;
    }
}
@media (min-width= 1440px){
    .menu{
        width: 25%;
        display: inline-block;
    }
}